div#taken-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}

div#taak-container {
    border: 1px dotted grey;
    margin: 5px 0 5px 0px;
    padding: 5px 2px;
    background-color: #ffff7e;
    width: 49%;
}

#taak-container p {
    font-size: 14pt;
    margin: 5px;
    border-bottom: 1px solid grey;
}

