div#taken-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
padding: 5px;
}

div#taak-container {
    border: 1px dotted grey;
    margin: 5px 0 5px 0px;
    padding: 5px 2px;
    background-color: #ffff7e;
    width: 32%;
    height: fit-content;
}

#taak-container p {
    font-size: 14pt;
    margin: 5px;
    border-bottom: 1px solid grey;
}

#taak-naam {
    font-weight: bold;
}

#update-form #taakbeschrijving {
    width: 600px;
    height: 200px;
}

#update-form textarea {
    padding:0 !important;
}